<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mall.auth.mapper.user.UserMapper">

    <select id="getUserResourceByUserId" resultType="com.dj.mall.auth.bo.resource.ResourceBO">
        SELECT
            ar.id,
            ar.resource_name,
            ar.url,
            ar.parent_id,
            ar.resource_code,
            ar.resource_type,
            ar.is_del
        FROM
            djmall_auth_user_role aur
                LEFT JOIN djmall_auth_role_resource arr ON aur.role_id = arr.role_id
                LEFT JOIN djmall_auth_resource ar ON arr.resource_id = ar.id
        WHERE
            aur.user_id = ${userId}
    </select>

    <select id="findUserAll" resultType="com.dj.mall.auth.bo.user.UserBO">
        SELECT
        au.id,
        au.user_name,
        au.user_pwd,
        au.nick_name,
        au.salt,
        au.user_phone,
        au.user_email,
        au.user_sex,
        ar.role_name AS roleName,
        dt.dict_name AS sexShow,
        ddt.dict_name AS statusShow
        FROM
        djmall_auth_user au
        LEFT JOIN djmall_auth_user_role aur ON au.id = aur.user_id
        LEFT JOIN djmall_auth_role ar ON aur.role_id = ar.id
        LEFT JOIN djmall_dict dt ON au.user_sex = dt.`code`
        LEFT JOIN djmall_dict ddt ON au.user_status = ddt.`code`
        <where>
        <if test="userBO.userName != null and userBO.userName!= ''">
            au.user_name like "%"#{userBO.userName}"%"
        </if>
        <if test="userBO.userSex != null and userBO.userSex != '' ">
            AND au.user_sex = #{userBO.userSex}
        </if>
        <if test="userBO.roleId != null ">
            AND ar.id = #{userBO.roleId}
        </if>
        <if test="userBO.userStatus != null and userBO.userStatus != '' ">
            AND au.user_status = #{userBO.userStatus}
        </if>
        </where>
        order by au.id desc
    </select>

</mapper>